/*
 * Copyright (c) 2020, STMICROLECTRONICS
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		/*
		 * shared memory reserved for the inter-processor communication
		 */
		zephyr,ipc_shm = &mcusram3;
		zephyr,ipc = &mailbox;
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,flash = &mcusram;
		zephyr,sram = &mcusramdata;
	};

	mcusramdata: memory2@10030000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x10030000 0x10000>;
	};

	mcusram3: memory3@10040000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x10040000 0x10000>;
	};

	mcusram4: memory4@10050000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x10050000 0x10000>;
	};

	hc_sr04: hc_sr04 {
		compatible = "hc-sr04";
		trigger-gpios = <&gpiog 15 GPIO_ACTIVE_HIGH>;
		echo-gpios = <&gpiod 7 GPIO_ACTIVE_HIGH>;
	};
};

&mcusram {
	device_type = "memory";
	compatible = "mmio-sram";
	reg = <0x10000000 0x30000>;
};

&usart3 {
	status = "okay";
};
